{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
    <title>Editar Opinião sobre {{ opiniao.obra.titulo }}</title>
{% endblock %}

{% block conteudo %}
<div class="container mt-5">
    <h1>Editar Opinião sobre "{{ opiniao.obra.titulo }}"</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group mt-3">
            <label for="texto">Sua opinião:</label>
            <textarea id="texto" name="texto" rows="4" class="form-control" required style="resize: none;">{{ opiniao.texto }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Atualizar Opinião</button>
    </form>
    <a href="{% url 'detalhes_obra' opiniao.obra.titulo %}" class="btn btn-secondary mt-3">Cancelar</a>
</div>
{% endblock %}
