{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Otaku Estudante</title>
{% endblock %}

{% block conteudo %}
    <div id="conteudo">
        <div class="banner">
            <div class="slider" style="--quantity: 10">
                <div class="item" style="--position: 1">
                    <a href="{% url 'detalhes_obra' 'fate type redline' %}">
                        <img src="{% static 'img/fate type redline.jpg' %}" alt="Fatefate type redline">
                    </a>
                </div>
                <div class="item" style="--position: 2">
                    <a href="{% url 'detalhes_obra' 'Blue Lock' %}">
                        <img src="{% static 'img/Blue Lock.jpg' %}" alt="Blue Lock">
                    </a>
                </div>
                <div class="item" style="--position: 3">
                    <a href="{% url 'detalhes_obra' 'One Piece' %}">
                        <img src="{% static 'img/One Piece.jpg' %}" alt="One Piece">
                    </a>
                </div>
                <div class="item" style="--position: 4">
                    <a href="{% url 'detalhes_obra' 'Jungle Juice' %}">
                        <img src="{% static 'img/Jungle Juice.jpg' %}" alt="Jungle Juice">
                    </a>
                </div>
                <div class="item" style="--position: 5">
                    <a href="{% url 'detalhes_obra' 'Solo Leveling' %}">
                        <img src="{% static 'img/Solo Leveling.jpg' %}" alt="Solo Leveling">
                    </a>
                </div>
                <div class="item" style="--position: 6">
                    <a href="{% url 'detalhes_obra' 'Jujutsu Kaisen' %}">
                        <img src="{% static 'img/Jujutsu Kaisen.jpg' %}" alt="Jujutsu Kaisen">
                    </a>
                </div>
                <div class="item" style="--position: 7">
                    <a href="{% url 'detalhes_obra' 'kage no jitsuryokusha' %}">
                        <img src="{% static 'img/kage no jitsuryokusha.jpg' %}" alt="kage no jitsuryokusha">
                    </a>
                </div>
                <div class="item" style="--position: 8">
                    <a href="{% url 'detalhes_obra' 'Solo Leveling' %}">
                        <img src="{% static 'img/Solo Leveling.jpg' %}" alt="Solo Leveling">
                    </a>
                </div>
                <div class="item" style="--position: 9">
                    <a href="{% url 'detalhes_obra' 'Demon Slayer' %}">
                        <img src="{% static 'img/Demon Slayer.jpg' %}" alt="Demon Slayer">
                    </a>
                </div>
                <div class="item" style="--position: 10">
                    <a href="{% url 'detalhes_obra' 'tensei shitara slime' %}">
                        <img src="{% static 'img/tensei shitara slime.jpg' %}" alt="tensei shitara slime">
                    </a>
                </div>
            </div>
            <div class="content">
                <h1 data-content="Otaku Estudante">Otaku Estudante</h1>
                <div class="author">
                    <h2>LUN DEV</h2>
                    <p><b>Web Design</b></p>
                    <p>Subscribe to the channel to watch many interesting videos</p>
                </div>
                <div class="model"></div>
            </div>
        </div>
    </div>
{% endblock %}