{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Otaku Estudante</title>
{% endblock %}

{% block conteudo %}
    <div id="conteudo">
        <div class="banner">
            <div class="slider" style="--quantity: 10">
                <div class="item" style="--position: 1">
                    <a href="{% url 'detalhes_obra' 'fate' %}">
                        <img src="{% static 'img/fate.jpg' %}" alt="Fate">
                    </a>
                </div>
                <div class="item" style="--position: 2">
                    <a href="{% url 'detalhes_obra' 'blue_lock' %}">
                        <img src="{% static 'img/blue_lock.jpg' %}" alt="Blue Lock">
                    </a>
                </div>
                <div class="item" style="--position: 3">
                    <a href="{% url 'detalhes_obra' 'dr_stone' %}">
                        <img src="{% static 'img/dr_stone.jpg' %}" alt="Dr. Stone">
                    </a>
                </div>
                <div class="item" style="--position: 4">
                    <a href="{% url 'detalhes_obra' 'bungou_stray_dogs' %}">
                        <img src="{% static 'img/bungou_stray_dogs.jpg' %}" alt="Bungou Stray Dogs">
                    </a>
                </div>
                <div class="item" style="--position: 5">
                    <a href="{% url 'detalhes_obra' 'inuyasha' %}">
                        <img src="{% static 'img/inuyasha.jpg' %}" alt="Inuyasha">
                    </a>
                </div>
                <div class="item" style="--position: 6">
                    <a href="{% url 'detalhes_obra' 'jujutsu_kaisen' %}">
                        <img src="{% static 'img/jujutsu_kaisen.jpg' %}" alt="Jujutsu Kaisen">
                    </a>
                </div>
                <div class="item" style="--position: 7">
                    <a href="{% url 'detalhes_obra' 'kage_no_jitsuryokusha' %}">
                        <img src="{% static 'img/kage_no_jitsuryokusha.jpg' %}" alt="Kage no Jitsuryokusha">
                    </a>
                </div>
                <div class="item" style="--position: 8">
                    <a href="{% url 'detalhes_obra' 'solo_leveling' %}">
                        <img src="{% static 'img/solo_leveling.jpg' %}" alt="Solo Leveling">
                    </a>
                </div>
                <div class="item" style="--position: 9">
                    <a href="{% url 'detalhes_obra' 'kimetsu_no_yaiba' %}">
                        <img src="{% static 'img/kimetsu_no_yaiba.jpg' %}" alt="Kimetsu no Yaiba">
                    </a>
                </div>
                <div class="item" style="--position: 10">
                    <a href="{% url 'detalhes_obra' 'tensei_shitara_slime' %}">
                        <img src="{% static 'img/tensei_shitara_slime.jpg' %}" alt="Tensei Shitara Slime">
                    </a>
                </div>
            </div>
            
            <div class="content">
                <h1 data-content="Otaku Estudante">Otaku Estudante</h1>
                <div class="author">
                    <h2>LUN DEV</h2>
                    <p><b>Web Design</b></p>
                    <p>Subscribe to the channel to watch many interesting videos</p>
                </div>
                <div class="model"></div>
            </div>
        </div>
    </div>
{% endblock %}