{% extends 'modelo.html' %}
{% load static %}

{% block conteudo %}
<div class="container">
    <h2 class="text-center">Minhas Solicitações</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Status</th>
                <th>Data</th>
                <th>Ações</th>  <!-- Coluna de Ações -->
            </tr>
        </thead>
        <tbody>
            {% for solicitacao in solicitacoes %}
            <tr>
                <td>{{ solicitacao.titulo }}</td>
                <td>{{ solicitacao.status }}</td>
                <td>{{ solicitacao.data_solicitacao }}</td>
                <td>
                    <a href="{% url 'excluir_solicitacao' solicitacao.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir esta solicitação?')">Excluir</a> <!-- Botão de Exclusão com confirmação -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
