{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    <title>Modelo</title>
    {% endblock %}

    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'css/photo.css' %}">
</head>
<body>
    {% block sidebar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">
            <img src="{% static 'img/logo.png' %}" alt="Logo" style="height: 60px;">
        </a>
        
        <!-- Botão de alternância para dispositivos móveis -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio' %}">Início</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'minhas_solicitacoes' %}">Minhas solicitacoes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'solicitar_obra' %}">Solicitar obra</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                    <!-- Opções para administradores -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastrar_obra' %}">Cadastrar Obra</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_obras' %}">Gerenciar Obras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gerenciar_solicitacoes' %}">Gerenciar Solicitações</a>
                    </li>
                {% endif %}
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link btn-custom-login text-light" href="{% url 'login' %}" style="margin-right: 20px;">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-custom text-light" href="{% url 'register' %}">Cadastrar</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" class="mb-0">
                            {% csrf_token %}
                            <button type="submit" class="nav-link btn">Sair</button>
                        </form>
                    </li>
                {% endif %}
            </ul>

            {% if user.is_authenticated %}
            <ul class="navbar-nav navbar-profile ml-auto">
                <li class="nav-item d-flex align-items-center">
                    <div class="navbar-profile">
                        <a href="{% url 'profile' %}" style="text-decoration: none; color: inherit;">
                            {% if user.profile.photo %}
                                <img src="{{ user.profile.photo.url }}" alt="User Photo" class="profile-picture">
                            {% else %}
                                <img src="{% static 'img/default-avatar.png' %}" alt="Default Photo" class="profile-picture">
                            {% endif %}
                            <span>{{ user.username }}</span>
                        </a>
                    </div>
                </li>
            </ul>            
            {% endif %}
        </div>
    </nav>
    {% endblock %}

    {% block conteudo %}
    <div class="container mt-4" id="conteudo">
        <h3>Template de Modelo</h3>
        <p>Conteúdo do Site</p>
    </div>
    {% endblock %}

    {% block rodape %}
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Todos os direitos reservados.</p>
    </footer>
    {% endblock %}

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/photo.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>
