{% extends 'modelo.html' %}
{% load static %}

{% block conteudo %}
<div class="container mt-5">
    <div class="custom-card">
        <h2 class="text-center mb-4">Perfil de {{ user.username }}</h2>

        <!-- Foto do Perfil -->
        <div class="text-center mb-4">
            {% if user.profile.photo %}
                <img src="{{ user.profile.photo.url }}" alt="Foto de Perfil" class="rounded-circle" style="width: 120px; height: 120px; object-fit: cover;">
            {% else %}
                <img src="{% static 'img/default-avatar.png' %}" alt="Foto Padrão" class="rounded-circle" style="width: 120px; height: 120px; object-fit: cover;">
            {% endif %}
        </div>

        <!-- Informações do Usuário em caixas -->
        <div class="profile-info-box mb-3" style="background-color: antiquewhite;">
            <p><strong>Nome de Usuário:</strong> {{ user.username }}</p>
        </div>
        <div class="profile-info-box mb-3" style="background-color: antiquewhite;">
            <p><strong>Email:</strong> {{ user.profile.email }}</p>
        </div>
        <div class="profile-info-box mb-3" style="background-color: antiquewhite;">
            <p><strong>Data de Cadastro:</strong> {{ user.date_joined|date:"d/m/Y" }}</p>
        </div>

        <!-- Ações -->
        <div class="text-center mt-4">
            <a href="{% url 'profile_photo' %}" class="btn btn-custom">Editar Foto de Perfil</a>
        </div>
    </div>
</div>
{% endblock %}